<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>{{name}}</h1>
        <p>{{email}}| {{phone_number}}</p>
    </center>

    
    <div>
        <h2>Personal Information</h2>
        <p>District: {{district}}
        <p>Street: {{street}}</p>
        <p>City: {{city}}</p>
        <p>Birthday: {{birthday}}</p>
    </div>

    
    <div>
        <h2>Objective</h2>
        <p>{{objective}}</p>
    </div>

    <div>
        <h2>Scholarity</h2>
        <p>{{scholarity}}</p>
    </div>

    <div>
        <h2>Course</h2>
        <ul></ul>
    </div>

</body>
</html>